Advanced Dataframes Exercises

In [4]:
import pandas as pd
import numpy as np

Exercises 1

In [ ]:
#1 and 2 completed in the terminal

In [2]:
#3 - Create a function named get_db_url. 
#It should accept a username, hostname, password, and database name and return a url connection string formatted like in the example at the start of this lesson.
from env import host, username, password

get_db_url = f'mysql+pymysql://{username}:{password}@{host}/employees'

In [5]:
#4 - Use your function to obtain a connection to the employees database
pd.read_sql('SELECT * FROM employees LIMIT 5 OFFSET 50', get_db_url)

   emp_no  birth_date first_name  last_name gender   hire_date
0   10051  1953-07-28   Hidefumi      Caine      M  1992-10-15
1   10052  1961-02-26     Heping     Nitsch      M  1988-05-21
2   10053  1954-09-13     Sanjiv   Zschoche      F  1986-02-04
3   10054  1957-04-04     Mayumi  Schueller      M  1995-03-13
4   10055  1956-06-06     Georgy     Dredge      M  1992-04-27

In [6]:
#5a -  Intentionally make a typo in the database url. What kind of error message do you see?
pd.read_sql('SELECT * FROM employees LIMIT 5 OFFSET 50', url)
#returns a "name 'url' is not defined" error message

NameError: name 'url' is not defined

In [7]:
#5b - Intentionally make an error in your SQL query. What does the error message look like?
pd.read_sql('SELECT FROM employees LIMIT 5 OFFSET 50', get_db_url)
#returns "you have an error in your sql syntax..." error message

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'FROM employees LIMIT 5 OFFSET 50' at line 1")
[SQL: SELECT FROM employees LIMIT 5 OFFSET 50]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [9]:
#6 Read the employees and titles tables into two separate DataFrames
employees = pd.read_sql('SELECT * FROM employees', get_db_url)
titles = pd.read_sql('SELECT * FROM titles', get_db_url)

In [10]:
#7 - How many rows and columns do you have in each DataFrame?
employees.shape
#300024 rows and 6 columns

(300024, 6)

In [11]:
#7
titles.shape
#443308 rows and 4 columns

(443308, 4)

In [12]:
#8 - Display the summary statistics for each DataFrame.
employees.describe()

              emp_no
count  300024.000000
mean   253321.763392
std    161828.235540
min     10001.000000
25%     85006.750000
50%    249987.500000
75%    424993.250000
max    499999.000000

In [13]:
#8
titles.describe()

              emp_no
count  443308.000000
mean   253075.034430
std    161853.292613
min     10001.000000
25%     84855.750000
50%    249847.500000
75%    424891.250000
max    499999.000000

In [20]:
#9 - How many unique titles are in the titles DataFrame?
titles.nunique()
#there are 7 unique titles

emp_no       300024
title             7
from_date      6393
to_date        5888
dtype: int64

In [32]:
#10 - What is the oldest date in the to_date column?
titles.sort_values(by='to_date').head(1)
#returns a to_date of '1985-03-01'

       emp_no     title   from_date     to_date
16064   20869  Engineer  1985-02-17  1985-03-01

In [34]:
#11 - What is the most recent date in the to_date column?
titles.sort_values(by='to_date', ascending=False).head(1)
#returns a to_date of '9999-01-01'

   emp_no            title   from_date     to_date
0   10001  Senior Engineer  1986-06-26  9999-01-01

Exercises 2